@import "../../../../assets/styles/variables.scss";

.tr{
    border-bottom: 1px solid $border-input;
    .th{
        font-weight: bold;
        padding: 10px;
        border: none;
        text-align: left;
    }
}