@import "../../../assets/styles/variables.scss";

.div{
  width: 80%;
  margin-left: auto;
}

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #fff;

    .titleContainer {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .buttonsContainer {
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .mainTitle {
        color: #000;
    }

    .profileLink {
        color: #000;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }
    .button{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #000;
      color: #fff;
      font-size: 0.8rem;
    }
}